* {
  padding: 0;
  margin: 0;
}

.encabezado {
  height: auto;
  padding-bottom: 20px;
  background-color: black;
  font-family: fantasy;
  color: white;
}

.encabezado div {
  padding: 20px 0 0 20px;
  font-size: 30px;
}

.encabezado div a {
  text-decoration: none;
  color: white;
}

.encabezado hr {
  margin: 20px 0;
}

.encabezado nav {
  padding: 0 0 0 20px;
}

.encabezado nav .nav-menu {
  display: flex;
  list-style: none;
}

.encabezado nav .nav-menu .nav-bar {
  margin: 0 50px 0 0;
}

.encabezado nav .nav-menu .nav-bar a {
  text-decoration: none;
  color: white;
}

.encabezado nav .nav-menu .nav-bar a:hover {
  text-decoration: underline;
}

body {
  height: 550px;
}

.articulos {
  height: 550px;
  margin: 2% 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido {
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 69%;
  height: 100%;
}

.contenido .post {
  padding: 2%;
  text-align: left;
  margin: 1em;
  border-radius: 5px;
  height: 40%;
  background-color: #C5D5EA;
  display: flex;
  justify-content: space-between;
}

.contenido .post div {
  text-align: justify;
}

.contenido .post div h1 {
  margin-bottom: 3%;
  font-size: 125%;
}

.contenido .post img {
  height: 100%;
  margin-left: 50px;
}

.menu-lateral {
  float: left;
  box-sizing: border-box;
  width: 30%;
  background-color: #4E598C;
  height: 100%;
  padding: 2%;
  border-radius: 5px;
}

.menu-lateral .post {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.menu-lateral .post a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.menu-lateral .post a h1 {
  font-size: 150%;
  text-align: center;
}

.menu-lateral .post a img {
  padding: 5%;
  width: 80%;
}

.menu-lateral .post a p {
  text-align: justify;
}

.pie-de-pagina {
  padding: 20px;
  background-color: black;
  height: 30%;
  float: left;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.pie-de-pagina div {
  width: 40%;
  margin: 0 10px;
}

@media (min-width: 768px) {
  #oculto {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-lateral {
    display: none;
  }
  .articulos {
    height: auto;
    margin: 3%;
  }
  .contenido {
    margin-bottom: 3%;
    width: 100%;
  }
  .contenido .post {
    align-items: center;
  }
  .contenido .post img {
    width: 30%;
  }
}
