.noticia{
  padding: 30px 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  h1{
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
  }
  p{
    padding: 0 70px;
    text-align: justify;
  }
  img{
    margin: 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .noticia{
    padding: 5%;
    h1{
      font-size: 130%;
      padding: 5%;
    }
    p{
      font-size: 110%;
    }
    img{
      width: 80%;
    }
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .noticia{
    padding: 5%;
    h1{
      font-size: 130%;
      padding: 5%;
    }
    p{
      font-size: 110%;
    }
    img{
      width: 80%;
    }
  }
}
