#formulario {
  width: 50%;
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#formulario input {
  margin: 3px 0px;
}

body {
  display: flex;
  justify-content: center;
}
