table {
  border-collapse: collapse;
}

#focusArea {
  margin: auto;
}

h1 {
  text-align: center;
}

section {
  display: flex;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
