* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  div {
    margin: auto;
    padding: 20px 40px;
    border: 1.5px solid black;
  }
}

#results {
  margin: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
