* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#agregador {
  background-color: royalblue;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;

  label {
    margin-bottom: 10px;
    text-align: center;
  }

  input {
    width: 100%;
    margin: 2px 0;
    border-radius: 5px;
  }
}

a.buttons-collection {
  margin-left: 1em;
}
