.f1 {
  background-color: aliceblue;
}

.f1 input[type="text"] {
  background-color: black;
  border: 0;
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

.f1 input[type="button"] {
  width: 60px;
  border: 0;
  height: 60px;
  color: white;
  background-color: cornflowerblue;
  font-size: 18px;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 5px;
}

body {
  background-color: #f1f1f1;
}

body h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
