* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.allRight {
  color: green;
  background-color: lightgreen;
}

.issues {
  color: white;
  background-color: red;
}

.moneyExchange {
  margin: 20px 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  #money div {
    margin-bottom: 10px;
  }

  #exchange {
    h4{
      margin: 0;
      padding: 0;
    }
  }
}
