* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-60deg, #3D6F56, #0B3861);
}

#inputs {
  padding: 2% inherit;
}

#inputs .input {
  border: 1px solid #2052C3;
  color: #6A6B73;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 4%;
  margin: 4% auto;
  border-radius: 4px;
  width: 91%;
  background-color: transparent;
}

.register {
  background-color: #2052C3;
  border: none;
  color: aliceblue;
  display: inline-block;
  justify-content: center;
  padding: 4%;
  margin: 4% auto;
  border-radius: 4px;
  width: 100%;
}

.registry {
  width: 300px;
  background-color: #27303F;
  display: flexbox;
  padding: 2.5%;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
  text-decoration: none;
}

.registry h4 {
  font-size: 150%;
}

.registry p {
  text-align: center;
}

.registry p a {
  text-decoration: none;
  color: aliceblue;
}

.registry p a:hover {
  text-decoration: underline;
}

#divisor {
  width: 100%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}
