body {
  margin: 0;
}

.encabezado {
  padding: 1em 2em;
  background-color: blue;
  height: 100px;
}

.contenido,
.contenido-lateral,
.pieDePágina{
  padding: 1em 2em;
  float: left;
  box-sizing: border-box;
}

.contenido{
  width: 60%;
}

.contenido-lateral{
  width: 40%;
  background-color: aqua;
  height: 500px;
}

.post{
  background-color: darkgoldenrod;
  height: 100px;
  margin-top: 1em;
}

.pieDePágina{
  width: 100%;
  background-color: black;
  height: 100px;
}
